/* src/index.css */
@import 'katex/dist/katex.min.css';
@import './styles/variables.css';

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-main);
  background-color: var(--bg-app);
}

a {
  font-weight: 500;
  color: var(--accent-secondary);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-primary);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}